{{#header-dropdown
iconId="toggle-twitter-dropdown"
icon="twitter"
class="twitter-icon"
tagName="div"
action="toggleTwitter"}}
  <div {{bind-attr class=":twitter-widget widgetVisible"}}>
    {{{widgetCode}}}
  </div>
{{/header-dropdown}}
