.twitter-stream {
  position: absolute;
  right: -9px;
  top: 52px;
  width: 366px;
  display: none;
}

.categories-list .twitter-stream {
  display: block;
}

.categories-list .list-container .full-width {
  width: calc(100% - 366px);
}

.categories-list .topic-list th:first-of-type, .categories-list .topic-list td:first-of-type {
  padding-left: 8px;
}